@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

// Variables CSS

// Color
$body: #f3f5f9;
$white-text: #f5f5f5f5;
$black-text: #0C419A;
$color-title: #ffffff;

// Text
$size-title: 2.5rem;
$size-text: 1rem;
$font-title: 'Caveat', cursive;
$font-text: 'Josefin Sans', sans-serif;

// Button
$radius: 5px 5px 5px;
$border: 2px solid $black-text;